<!DOCTYPE html>
<html lang="fr" style="overflow-x: hidden; width: 100vw; height: max-content">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Dawson Kramer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="STYLE/cb.css">
    <link rel="stylesheet" href="STYLE/style.css" />
    <link
      rel="icon"
      href="IMG/favicon-light.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="IMG/Favicon-dark.png"
      media="(prefers-color-scheme: dark)"
    />
    <title>Griffonne</title>
  </head>
  <body style="overflow-x: hidden; width: 100vw; height: max-content">
    <!-- ─── Navbar Mobile ───────────────────────────────────── -->
    <div class="mobilenav">
      <a href="index.html">
        <div class="ico">
          <img src="IMG/maison.png" alt="">
          Accueil
        </div>
      </a>
      <a href="real.html">
        <div class="ico">
          <img src="IMG/creation.png" alt="">
          Galerie
        </div>
      </a>
      <a href="tarifs.html">
        <div class="ico">
          <img src="IMG/argent.png" alt="">
          Tarifs
        </div>
      </a>
      <a href="contact.html">
        <div class="ico">
          <img src="IMG/phone.png" alt="">
          Contact
        </div>
      </a>
      <a href="apropos.html">
        <div class="ico">
          <img src="IMG/question.png" alt="">
          A propos
        </div>
      </a>
    </div>

    <!-- ─── Barre De Navigation ─────────────────────────────────────────────── -->
    <div class="navbar">
      <nav class="flexnav p05">
        <a href="index.html">
          <img src="IMG/Griffon.svg" alt="" />
        </a>
        <div class="liens">
          <div class="flexC">
            <a href="real.html">Galerie</a>
            <div class="barre"></div>
          </div>
          <div class="flexC">
            <a href="tarifs.html">Tarifs</a>
            <div class="barre"></div>
          </div>
          <div class="flexC">
            <a href="contact.html">Contact</a>
            <div class="barre"></div>
          </div>
          <div class="flexC">
            <a href="apropos.html">A propos</a>
            <div class="barre"></div>
          </div>
        </div>
      </nav>
    </div>

    <!-- ─── Infos Tarifs ────────────────────────────────────────────────────── -->
    <div class="infotarifs">
      <img class="moji" src="IMG/ehohmoji.png" alt="" />
      <div class="tarif">
        <h1>Tarifs</h1>
        <div>
          Pour les plus curieux d'entre vous, tous les tarifs sont indiqués sur
          cette page.
        </div>
      </div>
      <div class="banner">
        <div class="gradende"></div>
        <img src="IMG/cosy-min.png" alt="" />
      </div>
    </div>

    <!-- ─── Tous Les Tarifs ─────────────────────────────────────────────────── -->
    <div class="toutarif">
      <div class="conseil">
        <div class="card" data-prix="120" data-nom="Visite Conseil">
          <h2 class="gradentext">
            Visite
            <div>Conseil</div>
            <span>120 €</span>
          </h2>
          <span class="desc">
            <b>Entretien avec le client dans les lieux à décorer.</b> <br />
            Conseils immédiats sur des points de détail (ex : choix d’une
            couleur, choix de matériaux, choix de meubles à remplacer, idées de
            réagencement de l’existant). Je mettrai ma créativité à votre
            service pour vous aider au mieux à résoudre rapidement une
            problématique précise.
          </span>
          <div class="time">⌛ 1H30</div>
        </div>
      </div>

      <div class="astuce">
        Suite à la visite conseil, vous pourrez opter pour l’une des formules
        suivantes:
      </div>

      <div class="formules">
        <div class="card" data-calcul="oui" data-prix="15 * m2" data-nom="Formule Rêver">
          <h2 class="gradentext">
            Formule
            <div>Rêver</div>
            <span>15 € / m² *</span>
          </h2>
          <span class="desc prix">
            (+ 5 euros / m² pour les pièces humides et techniques (ex : cuisine,
            SDB, WC, buanderie, atelier)
          </span>
          <span class="desc">
            <b>Etablissement du cahier des charges</b> <br />
            Dialogue avec le client: comprendre les besoins, les envies, le
            budget. Evaluation du potentiel des lieux. <br /><br />
            <b>Etape de relevés ***</b> <br />
            Relevé de côtes et prises de vue chez le client <br /><br />
            <b>Etape de recherches</b> <br />
            Dialogue avec le client, définir les axes de travail, exploration
            d’idées d’aménagement, d’atmosphère, croquis, esquisses, planches
            <br /><br />
            <b>Etape validation</b> <br />
            Dialogue avec le client, définir clairement les partis pris, les
            plans, les idées et pistes à suivre) <br /><br />
            <b>Etape projection</b> <br />
            1 proposition déco aboutie avec visuels 3D (Sketchup) et conseils
          </span>
        </div>
        <div class="card" data-calcul="oui" data-prix="20 * m2" data-nom="Formule Prévoir">
          <h2 class="gradentext">
            Formule
            <div>Prévoir</div>
            <span>20 € / m² *</span>
          </h2>
          <span class="desc prix">
            (+ 5 euros / m² pour les pièces humides et techniques (ex : cuisine,
            SDB, WC, buanderie, atelier)
          </span>
          <span class="desc">
            Toutes les étapes de la <b>Formule « Rêver »,</b> auxquelles
            s’ajoutent: <br /><br />
            <b>Etape des plans d’exécution ****</b> <br />
            Des plans côtés destinés au chiffrage du projet par les entreprises.
            Ex : plans pour meuble sur mesure <br /><br />
            <b>Etape de chiffrage</b> <br />
            «Shopping list» : dossier recensant les références, liens et prix
            des achats à prévoir ainsi qu’une estimation du coût des chantiers
            éventuels. Vous pourrez ainsi avoir une bonne idée du budget à
            prévoir pour pouvoir concrétiser votre projet déco.
          </span>
        </div>
        <div class="card" data-prix="60" data-nom="Formule Concrétiser">
          <h2 class="gradentext">
            Formule
            <div>Concrétiser</div>
            <span>+ 60 € **</span>
          </h2>
          <span class="desc prix">
            (après la formule prévoir) <br />
            (par visite chantier et par corps d’état)
          </span>
          <span class="desc">
            Toutes les étapes de la <b>Formule « Prévoir »,</b> auxquelles
            s’ajoutent: <br /><br />
            <b>Etape suivi de projet **</b> <br />
            Vous êtes prêts, vous avez choisi et activé des devis pour faire
            réaliser les travaux nécessaires à la concrétisation du projet. Je
            me déplace sur le chantier pour valider visuellement que les travaux
            correspondent à la projection que nous avons validé ensemble en
            amont.
          </span>
        </div>
      </div>

      <div class="astuce">
        Home Staging : aide à la valorisation immobilière. Le résultat des
        missions de Home Staging doivent plaire au plus grand nombre. Ainsi,
        aucun travail de personnalisation n’est proposé ci-après:
      </div>

      <div class="homestage">
        <div class="card" data-prix="150" data-nom="Home Staging Audit">
          <h2 class="gradentext">
            Home Staging
            <div>Audit</div>
            <span>+ 150 €</span>
          </h2>
          <span class="desc">
            <b>Visite des lieux et entretien oral</b> <br />
            Prodigué en direct, sur place, au cours d’un audit oral avec le
            client : diagnostic, conseils et liste des actions à mener dans
            chaque pièce, intérieur et extérieur (travaux, rafraîchissements,
            agencement, achats).
          </span>
          <div class="time">⌛ 2H00</div>
        </div>
        <div class="card" data-calcul="oui" data-prix="12 * m2" data-nom="Home Staging Se Projeter">
          <h2 class="gradentext">
            Home Staging
            <div>Se projeter</div>
            <span>12 € / m²</span>
          </h2>
          <span class="desc">
            <b>Visite des lieux et relevés ***</b> <br />
            Relevé de côtes et prises de vue chez le client. <br /><br />
            <b>Visuels 3D</b> <br />
            1 proposition déco par pièce avec visuels 3D (Sketchup). Pour aider
            les acheteurs à se projeter et voir tout le potentiel de votre bien
            immobilier. Un vrai coup de pouce pour déclencher une vente sans les
            contraintes d’avoir à mettre la main à la patte.
          </span>
          <div class="time">⌛ 2H00</div>
        </div>
      </div>
      <div class="texte">
        * Prix applicable aux pièces dites « sèches » (sans plomberie ou voltage
        technique (ex : atelier)). Sont considérées généralement comme pièces «
        sèches » des pièces comme le salon-séjour, le bureau, les chambres à
        coucher, les couloirs, entrées. Un surcoût de + 5 euros / m² pour les
        pièces humides et techniques s’applique (ex : cuisine, SDB, WC,
        buanderie, atelier). <br /><br />
        ** Prix donné à titre indicatif. Des frais de déplacement peuvent
        s’appliquer. Dans la limite d’un maximum de 3 visites par corps d’état
        (électricité, plomberie, menuiserie, plaquisterie, peintures, sols etc.)
        Il s’agit d’une phase d’accompagnement à la prise de décision (valider
        visuellement que les travaux vont dans le sens des plans de décoration
        conçus en amont) et en aucun cas de la maîtrise d’œuvre. Chaque artisan
        et intervenant sélectionné détient sa propre responsabilité décennale ou
        autre assurance et est responsable de ses plans d’exécution. Pour tous
        travaux d’aménagement intérieur, il vous est conseillé de contracter une
        assurance « Dommage/Ouvrage » ou de vérifier que les entreprises qui
        interviennent en possèdent une. Pour tout chantier impliquant de toucher
        à la structure porteuse du bâti (murs porteurs), vous devez faire appel
        à un architecte habilité. <br /><br />
        *** Etape qui peut être plus ou moins longue en fonction de la surface
        et du nombre de pièce à traiter, et en fonction de la possibilité de
        mise à disposition par le client d’un plan officiel de son habitation.
        Habituellement, prévoir jusqu’à plusieurs heures. <br /><br />
        **** L’existence de l’étape des plans d’exécution est dépendante de
        l’existence dans le projet de meubles à faire fabriquer sur mesure, ou
        de la nécessité de faire intervenir un ou plusieurs corps d’état
        (chantier). <br /><br />
        <b>
          Important : les m² des surfaces totales à traiter sont calculés à
          partir de 5 m² forfaitaire. Par conséquent, toute surface totale à
          traiter inférieure à 5 m² sera facturée de 5 m² minimum forfaitaire.
        </b>
      </div>
    </div>

    <!-- ─── Panier ──────────────────────────────────────────── -->
    <div id="panier">🛒</div>
    <div id="panier" class="croix">❌</div>

    <div id="paniertout">
      <h4>Mon panier</h4>
      <div class="liste">
        <div id="contenuPanier">
          <div id="cvide">
            <img src="IMG/shopping-cart.png" alt="">
            Votre panier est vide
          </div>
        </div>
        <div id="vider">Vider</div>
      </div>
      <div class="total">
        <h5>Total:</h5>
        <div id="total">0 €</div>
        <div class="form">
          <input type="number" class="surface" placeholder="Surface en m2">
          <button id="valider">Valider</button>
        </div>
      </div>
    </div>

    <!-- ─── +1 Animation ────────────────────────────────────── -->
    <div class="ajout">
      +1
    </div>

    <!-- ─── Carte Bancaire ──────────────────────────────────── -->
    <div class="wrapper hidden" id="app">
      <form action="" autocomplete="on" class="card-form">
        <div class="card-list">
          <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
            <div class="card-item__side -front">
              <div
                class="card-item__focus"
                v-bind:class="{'-active' : focusElementStyle }"
                v-bind:style="focusElementStyle"
                ref="focusElement"
              ></div>
              <div class="card-item__cover">
                <img
                  v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                  class="card-item__bg"
                />
              </div>

              <div class="card-item__wrapper">
                <div class="card-item__top">
                  <img
                    src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png"
                    class="card-item__chip"
                  />
                  <div class="card-item__type">
                    <transition name="slide-fade-up">
                      <img
                        v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                        v-if="getCardType"
                        v-bind:key="getCardType"
                        alt=""
                        class="card-item__typeImg"
                      />
                    </transition>
                  </div>
                </div>
                <label
                  for="cardNumber"
                  class="card-item__number"
                  ref="cardNumber"
                >
                  <template v-if="getCardType === 'amex'">
                    <span v-for="(n, $index) in amexCardMask" :key="$index">
                      <transition name="slide-fade-up">
                        <div
                          class="card-item__numberItem"
                          v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''"
                        >
                          *
                        </div>
                        <div
                          class="card-item__numberItem"
                          :class="{ '-active' : n.trim() === '' }"
                          :key="$index"
                          v-else-if="cardNumber.length > $index"
                        >
                          {{cardNumber[$index]}}
                        </div>
                        <div
                          class="card-item__numberItem"
                          :class="{ '-active' : n.trim() === '' }"
                          v-else
                          :key="$index + 1"
                        >
                          {{n}}
                        </div>
                      </transition>
                    </span>
                  </template>

                  <template v-else>
                    <span v-for="(n, $index) in otherCardMask" :key="$index">
                      <transition name="slide-fade-up">
                        <div
                          class="card-item__numberItem"
                          v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''"
                        >
                          *
                        </div>
                        <div
                          class="card-item__numberItem"
                          :class="{ '-active' : n.trim() === '' }"
                          :key="$index"
                          v-else-if="cardNumber.length > $index"
                        >
                          {{cardNumber[$index]}}
                        </div>
                        <div
                          class="card-item__numberItem"
                          :class="{ '-active' : n.trim() === '' }"
                          v-else
                          :key="$index + 1"
                        >
                          {{n}}
                        </div>
                      </transition>
                    </span>
                  </template>
                </label>
                <div class="card-item__content">
                  <label for="cardName" class="card-item__info" ref="cardName">
                    <div class="card-item__holder">Card Holder</div>
                    <transition name="slide-fade-up">
                      <div
                        class="card-item__name"
                        v-if="cardName.length"
                        key="1"
                      >
                        <transition-group name="slide-fade-right">
                          <span
                            class="card-item__nameItem"
                            v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                            v-if="$index === $index"
                            v-bind:key="$index + 1"
                            >{{n}}</span
                          >
                        </transition-group>
                      </div>
                      <div class="card-item__name" v-else key="2">
                        Jean Valjean
                      </div>
                    </transition>
                  </label>
                  <div class="card-item__date" ref="cardDate">
                    <label for="cardMonth" class="card-item__dateTitle"
                      >Expires</label
                    >
                    <label for="cardMonth" class="card-item__dateItem">
                      <transition name="slide-fade-up">
                        <span v-if="cardMonth" v-bind:key="cardMonth"
                          >{{cardMonth}}</span
                        >
                        <span v-else key="2">MM</span>
                      </transition>
                    </label>
                    /
                    <label for="cardYear" class="card-item__dateItem">
                      <transition name="slide-fade-up">
                        <span v-if="cardYear" v-bind:key="cardYear"
                          >{{String(cardYear).slice(2,4)}}</span
                        >
                        <span v-else key="2">AA</span>
                      </transition>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-item__side -back">
              <div class="card-item__cover">
                <img
                  v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                  class="card-item__bg"
                />
              </div>
              <div class="card-item__band"></div>
              <div class="card-item__cvv">
                <div class="card-item__cvvTitle">CVC</div>
                <div class="card-item__cvvBand">
                  <span v-for="(n, $index) in cardCvv" :key="$index"> * </span>
                </div>
                <div class="card-item__type">
                  <img
                    v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                    v-if="getCardType"
                    class="card-item__typeImg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-form__inner">
          <div class="card-input">
            <label for="cardNumber" class="card-input__label"
              >Numéro de carte</label
            >
            <input
              type="text"
              id="cardNumber"
              class="card-input__input"
              v-mask="generateCardNumberMask"
              v-model="cardNumber"
              v-on:focus="focusInput"
              v-on:blur="blurInput"
              data-ref="cardNumber"
              autocomplete="on"
            />
          </div>
          <div class="card-input">
            <label for="cardName" class="card-input__label">Nom du titulaire</label>
            <input
              type="text"
              id="cardName"
              class="card-input__input"
              v-model="cardName"
              v-on:focus="focusInput"
              v-on:blur="blurInput"
              data-ref="cardName"
              autocomplete="on"
            />
          </div>
          <div class="card-form__row">
            <div class="card-form__col">
              <div class="card-form__group">
                <label for="cardMonth" class="card-input__label"
                  >Date d'expiration</label
                >
                <select
                  class="card-input__input -select"
                  id="cardMonth"
                  v-model="cardMonth"
                  v-on:focus="focusInput"
                  v-on:blur="blurInput"
                  data-ref="cardDate"
                >
                  <option value="" disabled selected>Mois</option>
                  <option
                    v-bind:value="n < 10 ? '0' + n : n"
                    v-for="n in 12"
                    v-bind:disabled="n < minCardMonth"
                    v-bind:key="n"
                  >
                    {{n < 10 ? '0' + n : n}}
                  </option>
                </select>
                <select
                  class="card-input__input -select"
                  id="cardYear"
                  v-model="cardYear"
                  v-on:focus="focusInput"
                  v-on:blur="blurInput"
                  data-ref="cardDate"
                >
                  <option value="" disabled selected>Année</option>
                  <option
                    v-bind:value="$index + minCardYear"
                    v-for="(n, $index) in 12"
                    v-bind:key="n"
                  >
                    {{$index + minCardYear}}
                  </option>
                </select>
              </div>
            </div>
            <div class="card-form__col -cvv">
              <div class="card-input">
                <label for="cardCvv" class="card-input__label">CVC</label>
                <input
                  type="text"
                  class="card-input__input"
                  id="cardCvv"
                  v-mask="'####'"
                  maxlength="4"
                  v-model="cardCvv"
                  v-on:focus="flipCard(true)"
                  v-on:blur="flipCard(false)"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>

          <button id="pay" class="card-form__button">Valider</button>
        </div>
      </div>
    </div>

    <!-- ─── Footer ──────────────────────────────────────────────────────────── -->
    <footer>
      <img class="bg" src="IMG/footer.png" alt="" />

      <div class="flexnav reseaux">
        <img src="IMG/pinterest.png" alt="" />
        <img src="IMG/instagram.png" alt="" />
        <img src="IMG/facebook.png" alt="" />
      </div>
      <div class="copy">@Copyright 2023, Griffonne</div>
      <div class="legal">
        <div class="liens">
          <a href="mentions.html">Mentions légales</a>
          <div>I</div>
          <a href="conditions.html">Conditions générales</a>
          <div>I</div>
          <a href="politique.html">Politique de confidentialité</a>
        </div>
      </div>

      <div class="box">
        <div class="nav">
          <h3>Navigation</h3>
          <a href="index.html">
            <div>Accueil</div>
          </a>
          <a href="real.html">
            <div>Galerie</div>
          </a>
          <a href="tarifs.html">
            <div>Tarifs</div>
          </a>
          <a href="apropos.html">
            <div>A Propos</div>
          </a>
        </div>
        <div class="contact">
          <h3>Contact</h3>
          <div>📞 06 12 34 56 78</div>
          <div>📧 contact@griffonne.fr</div>
          <div>🏘️ 08430 MAZERNY</div>
        </div>
      </div>
    </footer>

    <script src="JS/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>
    <script src="JS/cb.js"></script>
  </body>
</html>
